@font-face {
    font-family: "Steam";
    src: url("fonts/MotivaSansBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
/* Estilo geral */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #d9dce0;
    background-color: #1b2838;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Cabeçalho */
header {
    width: 100%;
    background-color: #0d1b24;
    border-bottom: 1px solid #3b4d5a;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    display: flex;
  align-items: center; /* Alinha verticalmente */
  justify-content: space-between; /* Espaça os itens do header */
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.header-title {
    color: #d9dce0;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #d9dce0;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

nav a:hover {
    color: #ff4d4d; /* Efeito de hover */
}

h2 {
    margin: 0 10px; /* Espaço entre a logo e o h2 */
  }

/* Seção de Contato */
.contact-section {
    margin-top: 100px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    background-color: #0d1b24;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.contact-section h1 {
    color: #e4d9d9;
    font-size: 32px;
}

.contact-section p {
    color: #d9dce0;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-form label {
    font-weight: bold;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 2px solid #3b4d5a;
    border-radius: 8px;
    background-color: #1b2838;
    color: #d9dce0;
}

.contact-form button {
    padding: 10px;
    border: none;
    background-color: #1b2838;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #e9e8e8;
}

/* Informações de Contato */
.contact-info {
    margin-top: 30px;
    text-align: left;
}

.contact-info h3 {
    color: #e2d7d7;
    font-size: 24px;
}

.contact-info p {
    margin: 5px 0;
}

/* Rodapé */
footer {
    background-color: #0d1b24;
    color: #d9dce0;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}
